@charset "UTF-8";
.col-1 {
  width: calc( 1 / 12 * 100%);
  padding-left: 10px;
  padding-right: 10px; }

.col-2 {
  width: calc( 2 / 12 * 100%);
  padding-left: 10px;
  padding-right: 10px; }

.col-3 {
  width: calc( 3 / 12 * 100%);
  padding-left: 10px;
  padding-right: 10px; }

.col-4 {
  width: calc( 4 / 12 * 100%);
  padding-left: 10px;
  padding-right: 10px; }

.col-5 {
  width: calc( 5 / 12 * 100%);
  padding-left: 10px;
  padding-right: 10px; }

.col-6 {
  width: calc( 6 / 12 * 100%);
  padding-left: 10px;
  padding-right: 10px; }

.col-7 {
  width: calc( 7 / 12 * 100%);
  padding-left: 10px;
  padding-right: 10px; }

.col-8 {
  width: calc( 8 / 12 * 100%);
  padding-left: 10px;
  padding-right: 10px; }

.col-9 {
  width: calc( 9 / 12 * 100%);
  padding-left: 10px;
  padding-right: 10px; }

.col-10 {
  width: calc( 10 / 12 * 100%);
  padding-left: 10px;
  padding-right: 10px; }

.col-11 {
  width: calc( 11 / 12 * 100%);
  padding-left: 10px;
  padding-right: 10px; }

.col-12 {
  width: calc( 12 / 12 * 100%);
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 992px) {
  .col-md-1 {
    width: calc( 1 / 12 * 100%);
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 992px) {
  .col-md-2 {
    width: calc( 2 / 12 * 100%);
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 992px) {
  .col-md-3 {
    width: calc( 3 / 12 * 100%);
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 992px) {
  .col-md-4 {
    width: calc( 4 / 12 * 100%);
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 992px) {
  .col-md-5 {
    width: calc( 5 / 12 * 100%);
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 992px) {
  .col-md-6 {
    width: calc( 6 / 12 * 100%);
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 992px) {
  .col-md-7 {
    width: calc( 7 / 12 * 100%);
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 992px) {
  .col-md-8 {
    width: calc( 8 / 12 * 100%);
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 992px) {
  .col-md-9 {
    width: calc( 9 / 12 * 100%);
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 992px) {
  .col-md-10 {
    width: calc( 10 / 12 * 100%);
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 992px) {
  .col-md-11 {
    width: calc( 11 / 12 * 100%);
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 992px) {
  .col-md-12 {
    width: calc( 12 / 12 * 100%);
    padding-left: 20px;
    padding-right: 20px; } }

/**
 * Set up a decent box model on the root element
 */
html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  background-color: unset; }

/**
 * Basic styles for ul ol li
 */
ul, ol {
  padding: 0;
  list-style: none; }

strong {
  color: #5825c7; }

body {
  font-family: "Montserrat", sans-serif;
  color: #242526; }

section {
  padding: 30px 0;
  overflow: hidden; }
  @media (min-width: 992px) {
    section {
      padding: 50px 0; } }

html {
  overflow-x: hidden; }

img {
  max-width: 100%; }

@font-face {
  font-family: 'SVN-SAF';
  src: url("../fonts/SVN-SAF.eot");
  src: url("../fonts/SVN-SAF.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-SAF.woff2") format("woff2"), url("../fonts/SVN-SAF.woff") format("woff"), url("../fonts/SVN-SAF.ttf") format("truetype"), url("../fonts/SVN-SAF.svg#SVN-SAF") format("svg");
  font-weight: normal;
  font-style: normal; }

/**
 * Basic typography style for copy text
 */
body {
  color: #242526;
  font-size: 15px;
  line-height: 1.6; }

.h3 {
  font-size: 18px;
  line-height: 1.2; }

.h4 {
  font-size: 10px;
  line-height: 1.2; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 700; }

h3, h4 {
  font-size: 12px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase; }

p {
  font-family: inherit; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%; }
  @media (min-width: 992px) {
    .container {
      padding: 0 80px; } }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.f-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .f-full > :first-child {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: -10px;
  margin-right: -10px; }
  @media (min-width: 992px) {
    .row {
      margin-left: -20px;
      margin-right: -20px; } }

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.list-inline-block > li {
  display: inline-block; }

.hide {
  display: none; }

.show {
  display: block; }

@media (min-width: 992px) {
  .block-md {
    display: block; } }

.p-0 {
  padding: 0; }

.mha {
  margin-left: auto;
  margin-right: auto; }

.w1 {
  width: 100%; }

.rel {
  position: relative; }

.abs {
  position: absolute; }

.site-footer {
  background: #242526;
  color: #ffffff; }

.site-footer__wrapper {
  padding: 20px 0; }

.site-footer__block {
  margin-bottom: 20px; }

.site-footer__logo {
  width: 100px;
  margin: 0 auto; }

.ega-button {
  position: relative;
  display: inline-block;
  padding: 6px 15px 10px;
  z-index: 0;
  color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  text-align: center;
  font-family: "SVN-SAF", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#fc9900), to(#fcde00));
  background: -webkit-linear-gradient(left, #fc9900, #fcde00);
  background: -o-linear-gradient(left, #fc9900, #fcde00);
  background: linear-gradient(to right, #fc9900, #fcde00);
  text-shadow: 0 3px 3.56px rgba(182, 77, 31, 0.59); }
  .ega-button:hover:before, .ega-button:active:before, .ega-button:focus:before {
    opacity: 1; }
  .ega-button:before {
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, right top, from(#e8b27a), to(#fc7400));
    background: -webkit-linear-gradient(left, #e8b27a, #fc7400);
    background: -o-linear-gradient(left, #e8b27a, #fc7400);
    background: linear-gradient(to right, #e8b27a, #fc7400);
    opacity: 0;
    z-index: -1; }

.ega-show-more {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  display: inline-block;
  padding: 6px 20px;
  border-radius: 20px;
  border: 1px solid #545353;
  color: #545353;
  -webkit-transition-property: color, border-color;
  -o-transition-property: color, border-color;
  transition-property: color, border-color; }
  .ega-show-more:hover, .ega-show-more:active, .ega-show-more:focus {
    color: #fca200;
    border-color: #fca200; }

.ega-hero {
  padding: 20px 0;
  text-align: center;
  color: #ffffff;
  background-image: url("../images/ega_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  z-index: 3; }
  .ega-hero h2, .ega-hero h3 {
    font-family: "SVN-SAF", sans-serif; }
  .ega-hero p {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 3px solid #ffffff; }
  .ega-hero h2 {
    color: #fcde00; }

.ega-hero__container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 992px) {
    .ega-hero__container {
      max-width: 1440px; } }

@media (min-width: 992px) {
  .ega-hero__block--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 300px;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.ega-detail {
  background: #eff6ff; }
  .ega-detail h2 {
    text-align: center;
    color: #fca200; }
  .ega-detail ul {
    margin-top: 0; }
  .ega-detail li {
    position: relative;
    padding-left: 10px; }
    .ega-detail li:before {
      content: "•";
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      left: 0;
      top: 0; }

.ega-detail__block {
  background: #ffffff;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 3px 3.56px 0.44px rgba(82, 126, 189, 0.4);
  box-shadow: 0 3px 3.56px 0.44px rgba(82, 126, 189, 0.4);
  border-radius: 3px; }

.ega-detail__teacher {
  padding: 15px; }

.ega-detail__outer {
  max-width: 400px;
  margin: 0 auto; }
  @media (min-width: 992px) {
    .ega-detail__outer {
      max-width: none; } }

.ega-detail__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #ebebeb; }

.ega-detail__title {
  padding: 15px;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#4d60d4), to(#5728c8));
  background: -webkit-linear-gradient(left, #4d60d4, #5728c8);
  background: -o-linear-gradient(left, #4d60d4, #5728c8);
  background: linear-gradient(to right, #4d60d4, #5728c8);
  border-radius: 3px 3px 0 0; }

.ega-detail__image {
  width: 51px;
  height: 51px;
  display: inline-block;
  margin-right: 15px; }

.ega-detail__info-teacher {
  max-width: 100%; }
  .ega-detail__info-teacher h4 {
    margin: 0; }

.ega-detail__content ul li:before {
  content: "-"; }

.ega-video {
  position: relative;
  background-image: url("../images/ega_bg_video.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }

.ega-video__wrapper {
  padding: 30px 0; }

.ega-video__inner {
  width: 80%;
  margin: 0 auto; }
  @media (min-width: 992px) {
    .ega-video__inner {
      max-width: 600px; } }

.ega-video__button {
  margin: 30px 0; }

.ega-video__iframe {
  position: relative;
  padding-top: 56.25%; }
  .ega-video__iframe iframe {
    position: absolute;
    top: 0;
    left: 0; }

.ega-video__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

input.form-control {
  border: 1px solid #242526;
  border-radius: 0; }

.btn-default {
  border-radius: 0;
  background: #242526;
  color: #ffffff; }

.form-group {
  margin-bottom: 0; }

.form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .form-search .form-group {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 100%; }
  .form-search input {
    border-right: 0; }
  .form-search button {
    min-width: 100px;
    padding: 0 10px;
    border: 0; }

.ega-course {
  background: #a579fa; }
  .ega-course h2 {
    color: #ffffff; }
  .ega-course h3 {
    color: #fca200; }

.ega-course__block {
  background: #ffffff;
  padding: 20px 0; }
  @media (min-width: 992px) {
    .ega-course__block {
      max-width: 730px;
      margin-left: auto;
      margin-right: auto;
      padding: 40px 70px; } }

.ega-benefit h2 {
  color: #fcde00; }

.ega-benefit__row {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.ega-benefit__item {
  margin: 0 30px 20px 30px; }
  @media (min-width: 992px) {
    .ega-benefit__item {
      margin: 0 0 20px 0; } }

.ega-benefit__block {
  height: 100%;
  padding: 20px;
  -webkit-box-shadow: 0 2px 6.75px 2.25px rgba(95, 95, 95, 0.23);
  box-shadow: 0 2px 6.75px 2.25px rgba(95, 95, 95, 0.23); }

.ega-benefit__image {
  margin-bottom: 10px; }

.ega-benefit__button {
  margin-top: 20px; }

.ega-countdown {
  background: -webkit-gradient(linear, left top, left bottom, from(#4660ca), to(#7fc8d6));
  background: -webkit-linear-gradient(top, #4660ca, #7fc8d6);
  background: -o-linear-gradient(top, #4660ca, #7fc8d6);
  background: linear-gradient(to bottom, #4660ca, #7fc8d6);
  color: #ffffff; }
  .ega-countdown strong {
    color: #fcde00; }

.ega-why {
  color: #ffffff;
  background: #4e6fcc; }

.ega-why__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px; }
  @media (min-width: 992px) {
    .ega-why__block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; } }

.ega-why__image {
  width: 45px;
  height: auto;
  margin-right: 10px; }
  @media (min-width: 992px) {
    .ega-why__image {
      margin-right: 0;
      height: 95px;
      width: auto; } }

.ega-why__content {
  max-width: calc(100% - 55px);
  text-transform: uppercase; }
  @media (min-width: 992px) {
    .ega-why__content {
      max-width: 220px;
      margin-left: auto;
      margin-right: auto; } }
  .ega-why__content strong {
    color: inherit; }

.ega-reason h2 {
  color: #fca200;
  text-align: center; }

.ega-reason__quote {
  height: 108px;
  width: auto;
  display: block;
  margin: 10px auto; }

.ega-reason__image {
  width: 59px;
  height: 59px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px; }

.ega-reason__row {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.ega-reason__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px; }

.ega-reason__block {
  width: 100%;
  padding: 20px;
  -webkit-box-shadow: 0 2px 6.75px 2.25px rgba(95, 95, 95, 0.23);
  box-shadow: 0 2px 6.75px 2.25px rgba(95, 95, 95, 0.23);
  text-align: center; }

.ega-review {
  background: #f9f9f9; }

@media (min-width: 992px) {
  .ega-review__wrapper {
    max-width: 800px; } }

.ega-review__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.ega-review__toggle {
  width: 65px;
  height: 65px;
  margin: 0 15px; }

.ega-review__block {
  padding: 10px;
  border: 2px solid #fca200;
  border-radius: 10px;
  margin-bottom: 30px; }

.ega-review__image {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center; }
  .ega-review__image.is-activated {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.ega-review__author {
  margin-top: 20px; }

.ega-review__quote,
.ega-review__author h3 {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  display: none;
  opacity: 0;
  visibility: hidden; }
  .ega-review__quote.is-activated,
  .ega-review__author h3.is-activated {
    display: block;
    opacity: 1;
    visibility: visible; }

.ega-review__toggle:before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translate3d(-50%, -172%, 0) rotate(45deg);
  transform: translate3d(-50%, -172%, 0) rotate(45deg);
  width: 25px;
  height: 25px;
  border: 2px solid #fca200;
  border-radius: 2px;
  background: #f9f9f9;
  border-top: none;
  border-left: none;
  opacity: 0; }

.ega-review__toggle.is-activated:before {
  opacity: 1; }

.ega-header {
  background: #566af0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 10;
  padding: 10px 0 12px 0; }
  .ega-header + * {
    margin-top: 63px; }

.ega-header__wrapper-logo {
  margin: 0; }
  @media (min-width: 992px) {
    .ega-header__wrapper-logo {
      display: inline-block; } }

@media (min-width: 992px) {
  .ega-header__list li:not(last-child) {
    margin-right: 20px; } }

.ega-header__menu {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 1.3;
  color: #ffffff; }
  .ega-header__menu:hover:after, .ega-header__menu:active:after, .ega-header__menu:focus:after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .ega-header__menu:after {
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ffffff;
    opacity: 0;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: opacity, transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform; }

.ega-header__logo {
  width: auto;
  height: 36px;
  vertical-align: middle; }

.ega-header__button {
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.ega-book h2 {
  color: #fca200;
  text-align: center; }

.ega-book li {
  position: relative;
  padding-left: 30px; }
  .ega-book li:before {
    content: '';
    position: absolute;
    top: 0.4em;
    left: 0;
    width: 14px;
    height: 14px;
    background-image: url("../images/ega_tick.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

@media (min-width: 992px) {
  .ega-book__wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto; } }
