.site-footer {
  background: $c-black;
  color: $c-white;
}

.site-footer__wrapper {
  padding: 20px 0;
}

.site-footer__block {
  margin-bottom: 20px;
}

.site-footer__logo {
  width: 100px;
  margin: 0 auto;
}
