.ega-footer {
  color: $c-black;

  li {
    @include breakpoint($md) {
      display: inline-block;

      &:not(last-child) {
        a {
          margin-right: 10px;
          border-right: 1px solid $c-black;
        }
      }
    }
  }

  a {
    @include transition(color);
    @include on-event() {
      color: $c-orange;
    }

    @include breakpoint($md) {
      display: block;
      padding-right: 10px;
    }
  }

  p {
    color: #9f9f9f;
  }
}
