.ega-button {
  position: relative;
  display: inline-block;
  padding: 6px 15px 10px;
  z-index: 0;
  color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  text-align: center;
  font-family: $f-secondary;
  background: linear-gradient(to right, #fc9900, #fcde00);
  text-shadow: 0 3px 3.56px rgba(182, 77, 31, 0.59);
  font-size: 14px;
  line-height: 1.3;

  @include breakpoint($md) {
    font-size: 18px;
    padding: 15px 30px 20px 30px;
  }
  @include on-event {
    &:before {
      opacity: 1;
    }
  }

  &:before {
    @include transition(opacity);

    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    border-radius: 30px;
    background: linear-gradient(to right, #e8b27a, #fc7400);
    opacity: 0;
    z-index: -1;
  }
}

.ega-show-more {
  @include transition();

  display: inline-block;
  padding: 6px 20px;
  border-radius: 20px;
  border: 1px solid #545353;
  color: #545353;
  transition-property: color, border-color;

  @include on-event {
    color: $c-orange;
    border-color: $c-orange;
  }
}
