.ega-button {
  position: relative;
  display: inline-block;
  padding: 6px 15px 10px;
  color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  text-align: center;
  font-family: $f-secondary;
  background: linear-gradient(to right, #fc9900, #fcde00);
  text-shadow: 0 3px 3.56px rgba(182, 77, 31, 0.59);

  @include transition(opacity, 0.15s);
  @include on-event {
    opacity: .8;
  }
  //
  //&:after {
  //  @include transition(opacity);
  //
  //  content: '';
  //  display: inline-block;
  //  width: 100%;
  //  height: 100%;
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  color: #fff;
  //  border-radius: 30px;
  //  background: linear-gradient(to right, #e8b27a, #fc7400);
  //  opacity: 0;
  //  z-index: 1;
  //}
}
