@font-face {
  font-family: 'SVN-SAF';
  src: url('../fonts/SVN-SAF.eot');
  src: url('../fonts/SVN-SAF.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SVN-SAF.woff2') format('woff2'),
  url('../fonts/SVN-SAF.woff') format('woff'),
  url('../fonts/SVN-SAF.ttf') format('truetype'),
  url('../fonts/SVN-SAF.svg#SVN-SAF') format('svg');
  font-weight: normal;
  font-style: normal;
}


