// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$f-primary: 'Montserrat', sans-serif !default;
$f-secondary: 'SVN-SAF', sans-serif !default;
$f-tertiary: "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$c-white: #ffffff;
$c-black: #242526;
$c-yellow: #fcde00;
$c-purple: #5825c7;
$c-purple-light: #a579fa;
$c-orange: #fca200;
$c-blue: #eff6ff;
$c-blue-dark: #4e6fcc;
$c-green: #50ad4e;

$sm: 768px;
$md: 992px;
$lg: 1024px;

/// Container's maximum width
/// @type Length
$max-width: 1440px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

$padding: 10px;
$padding-md: 20px;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

// Support grid
$columns: 12;
